body {
    font-size: 0.8em;
    font-family: Lucida;
}

a {
    color: #3182bd;
}

.content {
    width: 990px;
    margin: 0 auto;
    border-top: 0px;
    background-color: #ffffff;
    overflow: hidden;
}

.chart {
    float: left;
}

.chart .bar {
    stroke: none;
    fill: steelblue;
}

.chart .deselected {
    stroke: none;
    fill: #ccc;
}

.clear {
    clear: both;
}

.pie-slice {
    fill: white;
    font-size: 12px;
}

.pie-slice .selected {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.pie-slice .deselected {
    strok: none;
    fill-opacity: .5;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.brush rect.background {
    z-index: -999;
}

.brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.node {
    font-size: 0.7em;
}

.node .selected {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.node .deselected {
    strok: none;
    fill-opacity: .5;
}

.bubble {
    stroke: none;
    fill-opacity: 0.6;
}

#data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

#data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}

#data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}

#data-table {
    width: 700px;
    margin-bottom: 50px;
}

#data-table span {
    display: table-cell;
    width: 135px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    border: white solid 2px;
}

#data-table .header {
    font-weight: bold;
}

#data-table .header span {
    background-color: #c6dbef;
    color: white;
}

#data-table .group span.label {
    font-weight: bold;
    font-size: larger;
    float: inherit;
}

#data-table .column {
}
