body {
    font-size: 0.9em;
    font-family: Lucida;
}

a {
    color: #3182bd;
}

.content {
    width: 990px;
    margin: 0 auto;
    border-top: 0px;
    background-color: #ffffff;
    overflow: hidden;
}

.map{
    text-align: center;
}

.boundaries path{
    stroke: grey;
    fill: none;
    stroke-width: 1;
}

.debug{
    fill-opacity: .2;
}

.bubble{
    fill: red;
    fill-opacity: .3;
}