<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>dc.js - data grid example</title>
    <link rel="stylesheet" type="text/css" href="../css/dc.css" />
    <link type="text/css" rel="stylesheet" href="../css/dc-floatleft.css" />
    <style>
      #ep2014list table,
      .dc-data-grid {
        clear: both;
      }
      .dc-table-label {
        background: #f5f5f5;
        font-weight: bold;
      }
      .x line {
        stroke: none;
      }

      body {
        font-family: arial, helvetica, sans-serif;
      }

      .dc-data-grid,
      .dc-grid-group {
        clear: both;
      }
      .dc-data-count {
        clear: both;
      }
      .dc-grid-group {
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 20px;
        min-height: 20px;
        padding: 10px;
      }

      .dc-grid-item {
        float: left;
        margin: 0 10px 10px 0;
        padding: 5px;
        width: 200px;
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
      }
      .dc-grid-item img {
        width: 170px;
        height: 215px;
      }
      .dc-grid-top h1 {
        font-size: 22px;
      }
      .dc-grid-top h2 {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="../js/d3.js"></script>
    <script type="text/javascript" src="../js/crossfilter.js"></script>
    <script type="text/javascript" src="../js/dc.js"></script>

    <script
      type="text/javascript"
      src="https://underscorejs.org/underscore-min.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>

    <h1 class="page-header">Members of the European parliament</h1>
    <p>
      <b
        >Click on the graphs to filter the Members of the European parliament by
        country or party</b
      >
    </p>

    <div id="ep2014list">
      <div class="group"></div>
      <div class="country"></div>
      <div class="gender"></div>
      <div class="age"></div>
      <div class="list"></div>
      <div style="clear: both;">
        <div class="dc-data-count">
          <span class="filter-count"></span> selected out of
          <span class="total-count"></span> MEPs |
          <a href="javascript:chartGroup.filterAll(); chartGroup.renderAll();"
            >Reset All</a
          >
        </div>
      </div>
      <div class="dc-data-grid"></div>
    </div>
  </body>
  <script>
    /* globals _, $ */
    const tpl = _.template(
      "<h2 title='MEP from <%= country %> in <%= eugroup %>'> <%= first_name %> <%= last_name %></h2>" +
        "<img class='lazy-load' " +
        "dsrc='blank.gif' " +
        "data-original='https://www.europarl.europa.eu/mepphoto/<%= epid %>.jpg' " +
        "alt='<%= last_name %>, <%= first_name %> member of <%= eugroup %>' " +
        "title='MEP from <%= country %> in <%= eugroup %>' " +
        'width=170 height=216 >'
    );

    const chartGroup = new dc.ChartGroup();

    d3.csv('mep.csv').then(data => {
      const ndx = crossfilter(data),
        all = ndx.groupAll();

      //calculate age
      const dateParse = d3.timeParse('%Y-%m-%d');
      const now = Date.now();
      let birthdate = null;

      data.forEach(e => {
        birthdate = dateParse(e.birthdate);
        e.age = Math.floor((now - birthdate) / 31557600000); // 24 * 3600 * 365.25 * 1000
      });

      const pieGroup = new dc.PieChart(
        `${'#ep2014list'} .group`,
        chartGroup
      ).configure({
        innerRadius: 20,
        radius: 70,
      });
      const group = ndx.dimension(d => {
        if (typeof d.eugroup === 'undefined') {
          return '';
        }
        return d.eugroup;
      });

      const groupGroup = group.group().reduceSum(d => 1);

      const chartAge = new dc.LineChart(`${'#ep2014list'} .age`, chartGroup);

      const age = ndx.dimension(d => {
        if (typeof d.age === 'undefined') {
          return '';
        }
        return d.age;
      });

      const ageGroup = age.group().reduceSum(d => 1);

      chartAge
        .dataProvider(
          new dc.CFMultiAdapter({
            dimension: age,
            layers: [
              {
                group: ageGroup,
              },
            ],
          })
        )
        .configure({
          brushOn: true,
          elasticY: true,
        })
        .width(444)
        .height(200)
        .margins({ top: 0, right: 0, bottom: 95, left: 30 })
        .x(d3.scaleLinear().domain([20, 100]))
        .renderArea(true)
        .yAxisLabel('#MEPs');

      const pieGender = new dc.PieChart(
        `${'#ep2014list'} .gender`,
        chartGroup
      ).configure({
        radius: 70,
      });
      const gender = ndx.dimension(d => {
        if (typeof d.gender === 'undefined') {
          return '';
        }
        return d.gender;
      });

      const groupGender = gender.group().reduceSum(d => 1);

      const barCountry = new dc.BarChart(
        `${'#ep2014list'} .country`,
        chartGroup
      );
      const country = ndx.dimension(d => {
        if (typeof d.country === 'undefined') {
          return '';
        }
        return d.country;
      });
      const countryGroup = country.group().reduceSum(d => 1);

      const NameGender = { M: 'Male', F: 'Female', '': 'missing data' };
      const SymbolGender = { M: '\u2642', F: '\u2640', '': '' };

      pieGender
        .dataProvider(
          new dc.CFSimpleAdapter({
            dimension: gender,
            group: groupGender,
          })
        )
        .configure({
          label: d => SymbolGender[d.key],
          title: d => `${NameGender[d.key]}: ${d.value}`,
        })
        .width(200)
        .height(200);

      pieGroup
        .dataProvider(
          new dc.CFSimpleAdapter({
            dimension: group,
            group: groupGroup,
          })
        )
        .width(200)
        .height(200)
        .colorScale(d3.scaleOrdinal(d3.schemeCategory10));

      barCountry
        .dataProvider(
          new dc.CFMultiAdapter({
            dimension: country,
            layers: [
              {
                group: countryGroup,
              },
            ],
          })
        )
        .configure({
          xUnits: dc.UnitsOrdinal,
          brushOn: false,
          elasticY: true,
        })
        .width(444)
        .height(200)
        .outerPadding(0)
        .gap(1)
        .margins({ top: 0, right: 0, bottom: 95, left: 30 })
        .x(d3.scaleBand())
        .yAxisLabel('#MEPs');

      barCountry.on('postRender', c => {
        rotateBarChartLabels();
      });

      function rotateBarChartLabels() {
        d3.selectAll(`${'#ep2014list'} .country .axis.x text`)
          .style('text-anchor', 'end')
          .attr('transform', d => 'rotate(-90, -4, 9) ');
      }

      new dc.DataCount('.dc-data-count', chartGroup)
        .crossfilter(ndx)
        .groupAll(all);

      new dc.DataGrid('.dc-data-grid', chartGroup)
        .dataProvider(
          new dc.CFSimpleAdapter({
            dimension: country,
          })
        )
        .configure({
          section: d => d.country,
          size: 1000,
          html: d => tpl(d),
          sortBy: d => d.last_name,
          order: d3.ascending,
        })
        .on('renderlet', grid => {
          $('img.lazy-load')
            .lazyload({
              effect: 'fadeIn',
            })
            .removeClass('lazy-load');
        });

      chartGroup.renderAll();
    });
  </script>
</html>
